// ---
// version: 2
// ---

/**
* Margin utilities.
*
* naming convention: gl-m{position}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/

@mixin gl-mt-0 {
  margin-top: 0;
}

@mixin gl-mt-5 {
  margin-top: $gl-spacing-scale-5;
}

@mixin gl-mt-6 {
  margin-top: $gl-spacing-scale-6;
}

@mixin gl-mb-0 {
  margin-bottom: 0;
}

@mixin gl-mb-3 {
  margin-bottom: $gl-spacing-scale-3;
}
